.optionsContainer {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin: 1em 0;
}

.button {
  padding: 0.5em 1em;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  transition: background-color 0.3s;
  border: none;
}

.goodButton {
  background-color: #4caf50;
}

.goodButton:hover {
  background-color: #388e3c;
}

.neutralButton {
  background-color: #ffeb3b;
  color: #333;
}

.neutralButton:hover {
  background-color: #fdd835;
}

.badButton {
  background-color: #f44336;
}

.badButton:hover {
  background-color: #d32f2f;
}

.resetButton {
  background-color: #9e9e9e;
}

.resetButton:hover {
  background-color: #757575;
}
